Exercise: Handle the categorical variables
Encoding of categorical variables
In the notebook, do as we did so far but in this case you will be dealing with categorical variables, hence you have to by encode them, using ordinal encoding, label encoding or/and one-hot encoding.

You may following the steps
First load the entire adult dataset containing both numerical and categorical data
Identify the categorical variables
Use any of the strategies to encode categories
Split dataset into training set and test set
Select and train your model
Evaluate the model (i.e., check the model's generalization performance only using the categorical columns).

In [1]:
import pandas as pd

In [2]:
customer_df = pd.read_csv("Customer-Churn.csv")


# Overview
customer_df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [ ]:
Data Preprocessing

In [3]:
# 1. Convert 'SeniorCitizen' to a categorical column
customer_df['SeniorCitizen'] = customer_df['SeniorCitizen'].astype('category')

In [4]:
# 2. Converting Total Charges to a numerical data type.
customer_df['TotalCharges'] = pd.to_numeric(customer_df['TotalCharges'], errors='coerce')

In [5]:
#Removing missing values
customer_df.dropna(inplace = True)
customer_df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

Split the data into features and target

In [6]:
X, y = customer_df.drop(columns="Churn"), customer_df["Churn"]

In [7]:
numerical_columns = ['tenure', 'MonthlyCharges', 'TotalCharges']
X[numerical_columns].describe()

            tenure  MonthlyCharges  TotalCharges
count  7032.000000     7032.000000   7032.000000
mean     32.421786       64.798208   2283.300441
std      24.545260       30.085974   2266.771362
min       1.000000       18.250000     18.800000
25%       9.000000       35.587500    401.450000
50%      29.000000       70.350000   1397.475000
75%      55.000000       89.862500   3794.737500
max      72.000000      118.750000   8684.800000

In [8]:
data_numeric = X[numerical_columns]

Split the data and target into a training set and test set

In [9]:
from sklearn.model_selection import train_test_split


data_numeric_train, data_numeric_test, target_train, target_test = (
    train_test_split(data_numeric, y, random_state=42, test_size=0.25)
)

Model Selection: DummyClassifier

In [10]:
from sklearn.dummy import DummyClassifier

# Using `constant` which always predicts a constant label that is provided by the user

# Set the class to predict
class_to_predict = 'Yes'

# Create the DummyClassifier
churn_dc= DummyClassifier(strategy='constant', constant = class_to_predict )

# Fit the classifier
churn_dc.fit(data_numeric_train,target_train)

# Evaluate the Classifier
score = churn_dc.score(data_numeric_test,target_test)
print(f"Accuracy of a model predicting only 'Yes': {score:.2f}")

Accuracy of a model predicting only 'Yes': 0.26

In [11]:
# Using `constant` which always predicts a constant label that is provided by the user.

# Set the class to predict
class_to_predict = 'No'

# Create the DummyClassifier
not_churn_dc = DummyClassifier(strategy='constant', constant = class_to_predict )

# Fit the classifier
not_churn_dc.fit(data_numeric_train,target_train)

# Evaluate the Classifier
score = not_churn_dc.score(data_numeric_test,target_test)
print(f"Accuracy of a model predicting only 'No': {score:.2f}")

Accuracy of a model predicting only 'No': 0.74

In [12]:
y.value_counts()

Churn
No     5163
Yes    1869
Name: count, dtype: int64

In [13]:
(y=='No').mean()

0.7342150170648464

The predicition score show 74%. compare to MAchine Learning LogisticRegression which shows acurracy of 78%

In [ ]:
Great work Modupe Kalejaiye. You are trying..... just to encourage myself.